<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <header>
    <header>
      <img class="pfp" src="/pfp.jpg" width="64px"> <a href="/account">@user</a> </img>
      <nav>
          <ul class="nav_links">
              <li><a href="/home">Your Feed</a></li>
              <li><a href="/messages">Messages</a></li>
              <li><a href="/friends">Friends</a></li>
              <li><a href="/settings">Settings</a></li>
          </ul>
      </nav>
  </header>
</header>
  <br>
  <div class="container mx-auto rounded d-flex flex-column align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <!-- Create Post Section -->
        <div class="text-center pt-5 pb-3 rounded" style="background-color: rgb(52, 58, 64); margin: 0 auto; width: 22em;">
          <div class="px-2" style="width: auto;">
            <form action="/createPost" method="POST" target="_blank">
              <div class="form-group" style="text-align: center; width: auto;">
                <textarea class="form-control" id="postContent" name="postContent" rows="5" cols="40" required style="resize: none; width:auto; height:auto; margin: auto;"></textarea>
              </div>
              <button id="postButton" type="submit" class="btn btn-outline-info my-1">POST</button>
            </form>
            <form onsubmit="console.log('submitted');" action="/upload" method="POST" enctype="multipart/form-data" >
              <input id="upload-photo" type="file" name="photo" accept="image/*" id="inp">
              <label class="text-primary pr-3 btn btn-outline-info my-1" for="upload-photo">Browse...</label>
              <button class="btn btn-outline-info my-1" type="submit">Upload</button>
            </form>            
          </div>
        </div>        
      </div>
      <div class="col-md-6">
        <div id="posts">
          <% posts.forEach(function(post) { %>
            <div class="post card mb-3 p-3 rounded text-primary" id="d2">
              <div class="row">
                <div class="col-md-12">
                  <div class="post-header font-weight-bold">
                    @<%= post.user %>
                    <% if (post.user === username) { %>
                      <!-- Edit and Delete buttons for the post owner -->
                      <button class="btn btn-sm btn-outline-info ml-2">Edit</button>
                      <button class="btn btn-sm btn-outline-danger ml-2">Delete</button>
                    <% } %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="post-content text-white">
                    <%= post.postcontent %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="post-footer text-muted">
                    <%= post.created_on %>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>          
        </div>
      </div>
    </div>
  </div>    
</body>
</html>